.header {
    transition: 0.7s;
}

.header.abajo{
    padding: 15px 20px;
    transition: 0.7s;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.header.abajo .cambia{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 768px) {

   .nav {
        opacity: 0;
        visibility: hidden;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        position: fixed;
    }
    .header.abajo .cambia{
        color: black;
    }
}