.header {
    transition: 0.7s;
}

.header.abajo{
    padding: 15px 20px;
}

.header.abajo .cambia{
    color: black;
}

@media screen and (max-width: 768px) {

   .nav {
        opacity: 0;
        visibility: hidden;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        position: fixed;
    }
}