.image-presentation {
    min-height: 100vh;
    background: linear-gradient(rgba(63, 63, 70, 0.5), rgba(63, 63, 70, 0.5)),  
                url("../../assets/img/image-2.jpg") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-profile {
    background: url("../../assets/img/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.image-form {
    min-height: 80vh;
    background: linear-gradient(rgba(63, 63, 70, 0.5), rgba(63, 63, 70, 0.5)),
                url("../../assets/img/image-3.jpg") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 

@media screen and (max-width: 768px) {

    .image-presentation {
        background-attachment: scroll;
    }

    .image-form {
        background-attachment: scroll;
    }
 }