.image-presentation {
    min-height: 90vh;
    width: auto;
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12,0.5)),  url("../../assets/img/image-2.jpg") no-repeat center center fixed;
	background-size:cover;
}

.image-profile {
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12,0.5)),  url("../../assets/img/profile.jpg") no-repeat center center;
	background-size:cover;
} 