---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
<section class="flex md:items-center justify-center image-presentation min-h-[100vh]">
    <h1 class="text-white max-[768px]:pt-44 text-center"> <span class="text-name md:text-6xl max-[768px]:text-4xl">IBERSON SILVA CH.</span><br>
        <span class="md:text-2xl max-[768px]:text-1xl text-job">Software Developer</span>
    </h1>

</section>

</BaseLayout>