---
const {label} = Astro.props;
---

<label class="max-[768px]:col-span-2 max-[768px]:flex max-[768px]:flex-col text-start" for="">{label}
    <input class="outline-none text-black h-8 p-1 hover:border-zinc-700 hover:border-2" type="text" name="name" id="" />
</label>