---

---
<ul class="flex flex-row max-[768px]:flex-col text-sm">
    <li class="md-[769px]:pr-3 pl-3"><a href="#">Inicio</a></li>
    <li class="md-[769px]:pr-3 pl-3"><a href="#">Quiénes somos</a></li>
    <li class="md-[769px]:pr-3 pl-3"><a href="#">Servicios</a></li>
    <li class="md-[769px]:pr-3 pl-3"><a href="#">Qué hacemos</a></li>
    <li class="md-[769px]:pr-3 pl-3"><a href="#">Contacto</a></li>
</ul>