---

---
<ul class="flex flex-row max-[768px]:flex-col text-sm">
    <li class="md-[769px]:pr-3 pl-3 cambia"><a href="#">Inicio</a></li>
    <li class="md-[769px]:pr-3 pl-3 cambia"><a href="#">Sobre mí</a></li>
    <li class="md-[769px]:pr-3 pl-3 cambia"><a href="#">Tecnologías</a></li>
    <li class="md-[769px]:pr-3 pl-3 cambia"><a href="#">Currículum</a></li>
    <li class="md-[769px]:pr-3 pl-3 cambia"><a href="#">Contacto</a></li>
    <li class="md-[769px]:pr-3 pl-3 cambia"><a href="#">Blog</a></li>
</ul>